In [1]:
import yfinance as yf
import pandas as pd

In [2]:
spy = yf.Ticker("SPY")

In [3]:
spy_hist = spy.history(period="1y")

In [4]:
spy_hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-02-19,331.597455,332.863784,331.293140,332.137360,48814700,0.0,0
2020-02-20,331.548415,332.431939,327.562846,330.772919,74163400,0.0,0
2020-02-21,329.320025,329.653788,326.482991,327.366516,113788200,0.0,0
2020-02-24,317.216049,327.445007,315.350856,316.509247,161088400,0.0,0
2020-02-25,318.001369,318.659070,305.975943,306.918335,218913200,0.0,0
...,...,...,...,...,...,...,...
2021-02-12,389.850006,392.899994,389.769989,392.640015,50505700,0.0,0
2021-02-16,393.959991,394.170013,391.529999,392.299988,50700800,0.0,0
2021-02-17,390.420013,392.660004,389.329987,392.390015,52290600,0.0,0
2021-02-18,389.589996,391.519989,387.739990,390.720001,59552200,0.0,0
2021-02-19,392.070007,392.204987,391.059998,391.769989,15220274,0.0,0

In [5]:
tickersearch = yf.Ticker(ticker)

In [6]:
print(tickersearch)

yfinance.Ticker object <AAPL>

In [7]:
ticker_hist = tickersearch.history(period="1y")

In [4]:
spy_dataframe = pd.DataFrame.from_dict(spy_hist)

In [9]:
ticker_dataframe = pd.DataFrame.from_dict(ticker_hist)

In [10]:
spy_dataframe = spy_dataframe.pct_change()

In [11]:
ticker_dataframe = ticker_dataframe.pct_change()

In [12]:
ticker_dataframe

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-01-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-17,0.008491,0.009585,0.009438,0.011006,0.266355,NaN,NaN
2020-01-21,0.002934,0.000886,0.003074,-0.006835,-0.195718,NaN,NaN
2020-01-22,0.004325,0.003035,0.004213,0.003569,-0.081293,NaN,NaN
2020-01-23,-0.002026,-0.001261,-0.005213,0.004826,0.025921,NaN,NaN
...,...,...,...,...,...,...,...
2021-01-11,-0.024466,-0.018548,-0.013284,-0.023249,-0.043147,NaN,NaN
2021-01-12,-0.005341,-0.003687,-0.012763,-0.001396,-0.086163,NaN,NaN
2021-01-13,0.002023,0.013571,0.012849,0.016227,-0.036044,NaN,NaN
2021-01-14,0.015843,-0.003423,0.002101,-0.015127,0.017882,NaN,NaN
2021-01-15,-0.015443,-0.005954,-0.013669,-0.013731,0.232909,NaN,NaN

In [13]:
spy_dataframe.drop(['Volume','Dividends','Stock Splits'], axis=1)

                Open      High       Low     Close
Date
2020-01-16       NaN       NaN       NaN       NaN
2020-01-17  0.006056  0.003817  0.004236  0.003109
2020-01-21 -0.002426  0.000000 -0.000062 -0.001933
2020-01-22  0.004064  0.002331  0.001047  0.000123
2020-01-23 -0.004844 -0.002356 -0.005321  0.001138
...              ...       ...       ...       ...
2021-01-11 -0.007199 -0.002385  0.001644 -0.006741
2021-01-12  0.002752 -0.001892 -0.003601  0.000211
2021-01-13 -0.000528  0.002633  0.003959  0.002693
2021-01-14  0.005017  0.000709  0.000662 -0.003502
2021-01-15 -0.010168 -0.009314 -0.011637 -0.007293

[253 rows x 4 columns]

In [14]:
ticker_dataframe.drop(['Volume','Dividends','Stock Splits'], axis=1)

                Open      High       Low     Close
Date
2020-01-16       NaN       NaN       NaN       NaN
2020-01-17  0.008491  0.009585  0.009438  0.011006
2020-01-21  0.002934  0.000886  0.003074 -0.006835
2020-01-22  0.004325  0.003035  0.004213  0.003569
2020-01-23 -0.002026 -0.001261 -0.005213  0.004826
...              ...       ...       ...       ...
2021-01-11 -0.024466 -0.018548 -0.013284 -0.023249
2021-01-12 -0.005341 -0.003687 -0.012763 -0.001396
2021-01-13  0.002023  0.013571  0.012849  0.016227
2021-01-14  0.015843 -0.003423  0.002101 -0.015127
2021-01-15 -0.015443 -0.005954 -0.013669 -0.013731

[253 rows x 4 columns]

In [15]:
correlation = spy_dataframe['Close'].corr(ticker_dataframe['Close'])
print("Correlation is: ", correlation)

Correlation is:  0.8256460854711524

In [17]:
correlation2 = spy_dataframe['Open'].corr(ticker_dataframe['Open'])
print("Correlation is: ", correlation2)

Correlation is:  0.76826869797378

In [18]:
correlation3 = spy_dataframe['High'].corr(ticker_dataframe['High'])
print("Correlation is: ", correlation3)

Correlation is:  0.6841796421414968

In [19]:
correlation4 = spy_dataframe['Low'].corr(ticker_dataframe['Low'])
print("Correlation is: ", correlation4)

Correlation is:  0.7364906153068942

In [20]:
import statistics

In [22]:
import numpy as np

In [23]:
total = np.array([[correlation],[correlation2],[correlation3],[correlation4]])
np.mean(total)

0.7536462602233308

In [5]:
spy_hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-01-27,317.108073,319.159755,316.744861,317.569458,84062500,0.0,0
2020-01-28,319.100840,321.839701,317.667614,320.897308,63834000,0.0,0
2020-01-29,322.359977,322.605394,320.416265,320.632233,53888900,0.0,0
2020-01-30,318.413678,321.898615,317.608733,321.672821,75491800,0.0,0
2020-01-31,321.005286,321.172183,314.850242,315.831909,113845600,0.0,0
...,...,...,...,...,...,...,...
2021-01-21,384.489990,384.950012,383.250000,384.239990,47955800,0.0,0
2021-01-22,382.250000,384.130005,381.839996,382.880005,52860500,0.0,0
2021-01-25,383.670013,384.769989,378.459991,384.390015,70402000,0.0,0
2021-01-26,385.410004,385.850006,383.540009,383.790009,42328700,0.0,0
2021-01-27,380.220001,380.279999,375.630005,376.369995,38372798,0.0,0